/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */
@import 'tailwindcss';
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@theme {
  --font-family-sans: "Montserrat", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-purple-50: #f6f5fd;
  --color-brand-purple-100: #efecfb;
  --color-brand-purple-200: #dcd6f7;
  --color-brand-purple-300: #cac0f2;
  --color-brand-purple-400: #b09bea;
  --color-brand-purple-500: #9573df;
  --color-brand-purple-600: #8454d3;
  --color-brand-purple-700: #7442bf;
  --color-brand-purple-800: #6137a0;
  --color-brand-purple-900: #512f83;
  --color-brand-purple-950: #321c59;
}
